.header {
  padding: 30px;
  border-bottom: 1px solid #e9e9e9;
  &__nav {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  h1 {
    color: #14a800;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-weight: 600;

    a {
      transition: color 0.2s ease-in;
    }

    a:hover {
      transition: color 0.2s ease-in;
      color: #14a800;
    }
  }

  &__form {
    display: flex;
    align-items: center;
    column-gap: 30px;

    input {
      border: none;
    }
    input:focus {
      outline: none;
    }
  }

  &__input {
    padding: 10px;
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    align-items: center;
    column-gap: 5px;
  }

  button {
    padding: 10px 25px;
    border: none;
    border-radius: 12px;
    background-color: white;
    transition: all 0.2s ease-in;

    &:hover {
      color: #fff;
      background-color: #14a800;
      transition: all 0.2s ease-in;
    }
  }
}
